<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/boggle.css">
    <title>Boggle Game</title>
</head>
<body>
    <div class="container">
        <table class="board">
            <tbody>
                {% for row in game_board %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
         </table>
         <p>High Score:
            {{ Highscore}}
            in {{ nplays }} plays
         </p>
         <p>
            Score: <stan class="score">0</stan>
            Seconds Left: <stan class="timer"></stan>
         </p>

         <form method="POST" class="new-word">
            <input type="text" name="word" class="word">
            <button class="btn">Submit</button>
         </form>

         <p class="msg">

         </p>

         <ul class="words">

         </ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/boggle.js"></script>
</body>
</html>